h1 {
    background-color: #FFA4A4;
    color: #FCF9EA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 5rem;
    line-height: 5 rem;
}
* {
    margin: 0;
    padding: 0;
    text-align: center;
}
body {
    background-color: #BADFDB;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    cursor: pointer;
    background-color: black;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10%;
}
.choices{
    /*background-color: brown;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}
#user-score, #comp-score {
    font-size: 4rem;
    margin-top: 3rem;
    gap: 5rem;
}
#msg {
    background-color: #FFA259;
    color: #FCF9EA;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 0.5rem;
}
.msg-board {
    margin-top: 5rem;
}
canvas {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    pointer-events: none;
    z-index: 1;
}